extends dashboardlayout

block content
    head
        link(rel='stylesheet', href="../css/style.css", type="text/css")
    body
        .row
            .holder
                h1 Harvest item page!
                    .grid-container
                        each row in resHI
                            .item
                                h1.itemtitle #{row.Type}
                                p.itemp Price: &euro;#{row.Price}
                                p.itemp Description: #{row.Description}
                                p.itemp Harvest Weight: #{row.Harvestweight} kg
                                p.itemp Harvest Units: #{row.Harvestunits}
                                p.itemp Harvested by: #{row.Username}
                    a.button(href='/harvest') Show all harvest items