extends dashboardlayout

block content
    //
    //.row
    //    .col-xs-4
    //        .pull-left
    //            a(href='/')
    //                i.fa.fa-home(aria-hidden='true')
    //                |  Home
    //    .col-xs-8
    //        .dropdown.pull-right
    //            a.dropdown-toggle(data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
    //                i.fa.fa-shopping-cart(aria-hidden='true')
    //                |  Cart
    //                if session.cart.totalItems
    //                span session.cart.totalItems
    //
    //            .dropdown-menu
    //                .cart
    //                    each
    //                        session.cart.items;
    //                    .row
    //                        .col-xs-4
    //                            this.item.title
    //                        .col-xs-4.text-right
    //                            span.badge this.quantity
    //                        .col-xs-4.text-right
    //                            this.price  CHF
    //
    //                    .row
    //                        .text-right
    //                            .totalPrice Total: session.cart.totalPrice CHF
    //                            a.btn.btn-success(href='/cart/') Proceed
    //


    h1 Welcome this is the Harvest List page

    p This is the page where members of the Garden can post information about the harvested food.
    P When food is being added to the harvest list, this serves two main purposes, letting all of the Volunteers know which kinds of food are harvested and available for distribution, but also the longer term benefit of data aggregation.
    P As Volunteers take food away with them, the harvest list item can be edited to have it's stock reduced, while the record of the harvest weight and dates are kept.

    br
    a(href='/harvest_create') Create Harvest list item
        br


    .row
        .holder
            .grid-container
                each row in resHA
                    .item
                        h1.itemtitle #{row.Type}
                        .itemp Price: &euro;#{row.Price}
                        .itemp Description: #{row.Description}
                        .itemp Harvest Weight: #{row.Harvestweight} kg
                        .itemp Harvest Units: #{row.Harvestunits}
                        .itemp Harvested by: #{row.Username}
                        a.button(href='/harvest_item/' + row.Id + '') Show
                        a.button(href='/harvest_edit/' + row.Id + '') -Edit
                        a.button(href='/harvest_delete/' + row.Id + '') -Delete #{row.Name}


        //a(href='/harvest_edit/' + row.Id +'') Edit Harvest list item
        //br
        //a(href='/harvest_delete/' + row.Id +'') Delete Harvest list item
        //br
        //a(href='/harvest_item/' + row.Id +'') View Harvest list items
